# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Local Mac files
.DS_Store

# Python (for Part 2 later)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log